.gradle/
.gradle-bootstrap/
.kotlin/
.idea/
*.iml
local.properties
.DS_Store
/build/
**/build/
.externalNativeBuild/
.cxx/
*.jks
*.keystore
keystore.properties
signing.properties
*.apk
*.aab
*.aar
.local/
.source/
